# Data File Types

These problems go along with the material presented in the <a href="../lectures/Data File Types.ipynb">Data File Types</a> notebook.

1. Type out a `.csv` file by hand that has the columns `column_1`, `column_2`, and `column_3` each of which should contain the data corresponding to the `list`s given below.

<i>Note: you can create a blank text file by clicking "New > Text File" in the jupyter homepage</i>

In [1]:
column_1 = ["a", "b", "c"]
column_2 = [10, 20, 30]
column_3 = [-3, 17, -4]

2. Read in the file you created in 1.

In [2]:
import pandas as pd

pd.read_csv("../data/practice_csv.csv")

  column_1   column_2   column_3
0        a         10         -3
1        b         20         17
2        c         30         -4

3. Use the `dump` function from the `json` module, <a href="https://docs.python.org/3/library/json.html#json.dump">https://docs.python.org/3/library/json.html#json.dump</a>, to write the `data_dict` dictionary to a file called `"social_network.json"`.

In [3]:
data_dict = {"nodes": ["Penelope", "Mark", "Julia", "Craig", "Brony"],
             "edges":[["Penelope", "Brony"],
                      ["Penelope", "Julia"],
                      ["Mark", "Brony"],
                      ["Julia", "Craig"],
                      ["Julia", "Brony"],
                      ["Craig", "Brony"]]}

In [4]:
import json 
      
     
with open("../data/social_network.json", "w") as outfile:
    json.dump(data_dict, outfile)

4. Read in the `.json` file you wrote in 3.

In [5]:
with open("../data/social_network.json", "r") as file:
    data_dict = json.load(file)
    
data_dict

{'nodes': ['Penelope', 'Mark', 'Julia', 'Craig', 'Brony'],
 'edges': [['Penelope', 'Brony'],
  ['Penelope', 'Julia'],
  ['Mark', 'Brony'],
  ['Julia', 'Craig'],
  ['Julia', 'Brony'],
  ['Craig', 'Brony']]}

5. Read in the `study_results.parquet` file from the `data` folder.

In [6]:
pd.read_parquet("../data/study_results.parquet")

    sex treatment  age  recovery
0     F         A   19        12
1     F         A   21         2
2     F         A   22        13
3     F         A   24        12
4     F         A   28         3
..   ..       ...  ...       ...
115   M         C   59        14
116   M         C   61        11
117   M         C   61        13
118   M         C   62         8
119   M         C   64         7

[120 rows x 4 columns]

--------------------------

This notebook was written for the Erd&#337;s Institute C&#337;de Data Science Boot Camp by Matthew Osborne, Ph. D., 2023.

Any potential redistributors must seek and receive permission from Matthew Tyler Osborne, Ph.D. prior to redistribution. Redistribution of the material contained in this repository is conditional on acknowledgement of Matthew Tyler Osborne, Ph.D.'s original authorship and sponsorship of the ErdÅ‘s Institute as subject to the license (see License.md)